h1{
    text-align: center;
    background-color: aliceblue;
}
h3{
    font-style: normal;
    background-color: rgb(0, 0, 0);
}
p{
text-align: center;
font-size: medium;
}
strong{
    font-size: larger;
}
body{
    background-color: rgb(192, 199, 192);
}
h3{
    font-style: italic;
    background-color: aliceblue;
}
p {
    text-align: center;
    font-size: medium;
}
lista {
    display: inline-block;
    padding: 5%;
    margin-right: 10%;
    
}
.imagemcentralizada {
 text-align: center;
}

